<div class="vector-blocks-container">
    <div class="blocks-visibility-section">
        <span>Blocks visibility ({{getBlockCount()}}):</span>
        <div class="buttons">
            <button (click)="onVectorBlocksAllSelect(!vectorBlocksAll)">
                <img *ngIf="vectorBlocksAll" src="/assets/images/show-on-ico.svg"/>
                <img *ngIf="!vectorBlocksAll" src="/assets/images/show-off-ico.svg"/>
            </button>
            <!-- <rx-switch [checked]="vectorBlocksAll" (click)="onVectorBlocksAllSelect(!vectorBlocksAll)"></rx-switch> -->
            <button (click)="onOpenSearchBlock()">
                <img src="/assets/images/search-ico.svg" />
            </button>
        </div>
    </div>
    <div *ngIf="vectorBlocks?.length; else emptyBlocks" class="list-wrapper">
        <ul class="tree">
            <li *ngFor="let subBlocks of vectorBlocks" class="tree-item">
                <div class="block-name" (click)="foldSubList($event, subBlocks)">
                    <img *ngIf="subBlocks[0]?.fold == 0" src="/assets/images/tree-unfold.svg"/>
                    <img *ngIf="subBlocks[0]?.fold == 1" src="/assets/images/tree-fold.svg"/>
                    <span [title]="subBlocks[0]?.name + '(' + subBlocks?.length + ')'">{{subBlocks[0]?.name}} ({{subBlocks?.length}})</span>
                </div>
                <div class="tree-operation">
                    <img *ngIf="areAllBlocksChecked(subBlocks)" src="/assets/images/show-on-ico.svg" (click)="setBlocksVisible($event, subBlocks, false)"/>
                    <img *ngIf="!areAllBlocksChecked(subBlocks)" src="/assets/images/show-off-ico.svg" (click)="setBlocksVisible($event, subBlocks, true)"/>
                    <!-- <rx-switch [checked]="areAllBlocksChecked(subBlocks)" (click)="setBlocksVisible($event, subBlocks, !areAllBlocksChecked(subBlocks))"></rx-switch> -->
                </div>
                <ul class="tree" *ngIf="subBlocks[0]?.fold == 1" >
                    <li class="tree-item" *ngFor="let block of subBlocks" [attr.data-index]="block.index" [class.select-item]="block.selected" (click)="onSelectBlock(block)" (dblclick)="onVectorBlockDbClick(block)">
                        <div class="block-name">
                            <span [title]="block?.name">{{block?.name}}</span>
                        </div>
                        <div class="tree-operation">
                            <!-- <rx-switch [checked]="block.state == 1" (click)="onVectorBlockClick(block)"></rx-switch> -->
                            <img *ngIf="block?.state == 1" src="/assets/images/show-on-ico.svg" (click)="onVectorBlockClick(block)"/>
                            <img *ngIf="block?.state == 0" src="/assets/images/show-off-ico.svg" (click)="onVectorBlockClick(block)" />

                            <img  src="/assets/images/info-ico.svg" (click)="onVectorBlockInfoClick($event, block)" (dblclick)="onVectorBlockInfoDbClick($event)"/>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ng-template #emptyBlocks>
        <div class="list-empty">
            <p>This document doesn’t have any blocks.</p>
        </div>
    </ng-template>
</div>

<rx-panel
    *ngIf="infoPanelVisible"
    class="info-panel"
    style="z-index: 9"
    [title]="'Block info'"
    [maxHeight]="312"
    (onClose)="infoPanelVisible = false">
    <div class="info-container-wrapper">
        <div class="info-container">
            <div class="header">Attribute</div><div class="header">Value</div>
            <ng-container *ngFor="let item of infoData">
                <div class="row-header">{{item.name}}</div>
                <div class="attribute-value">{{item.value}}</div>
            </ng-container>
        </div>
    </div>
</rx-panel>

<rx-panel
    *ngIf="searchPanelVisible"
    class="info-panel"
    style="z-index: 9"
    [title]="'Search for Block Attributes'"
    [maxHeight]="312"
    (onClose)="searchPanelVisible = false">
    <div class="info-container-wrapper">
        <div class="search-container">
            <div class="search-item">
                <div class="search-name">Attribute Name:</div>
                <div class="search-input">
                    <input type="text" placeholder="Search..." [(ngModel)]="searchAttriName" [class.invalid]="!getSearchRegex(searchAttriName)" (input)="onSearchTextChange()">
                    <button class="search-btn" [disabled]="!isSearchCretiriaValid()" (click)="searchBlockAttributes(searchAttriName, searchBlockName)">Find</button>
                </div>
            </div>
            <div class="search-item">
                <div class="search-name">Block Name:</div>
                <div class="search-input">
                    <input type="text" placeholder="Search..." [(ngModel)]="searchBlockName" [class.invalid]="!getSearchRegex(searchBlockName)"  (input)="onSearchTextChange()">
                </div>
                <div *ngIf="searchResultInfo" class="search-result">
                    {{searchResultInfo}}<span *ngIf="isSearchResultDirty" title="Click 'Find' button to erase dirty flag"> *</span>
                </div>
            </div>
        </div>
        <div class="search-list">
            <div class="header">Block Name</div>
            <div class="header">Attribute Name</div>
            <div class="header">Value</div>
            <ng-container *ngFor="let data of searchListData">
                <div class="row-header">{{data.blockName}}</div>
                <div class="row-header">{{data.attributeName}}</div>
                <div class="attribute-value">
                    {{data.attributeValue}}
                </div>
            </ng-container>
        </div>
    </div>
</rx-panel>