// @import "../../../assets/scss/config.scss";

.room-panel {
  .room-panel-container {
    height: 300px;
    width: 300px;
    flex-direction: column;
    padding: 3px;
    cursor: auto;

    .header-section {
      border-bottom: 1px solid #edf1f2;
      padding: 12px;
      text-align: center;
      button {
        border: 0px;
        background-color: #00000000;
        cursor: pointer;
        &:hover {
            background-color: #EDF1F2;
        }
      }
    }

    .main-section {
      max-height: calc(100% - 200px);
      overflow-y: scroll;
      scrollbar-width: thin;
      min-height: 200px;
    }
  }
}