@import "../../../../assets/scss/config.scss";

.login-container {
    .login-button {
        border: 0px;
        background-color: #00000000;
        cursor: pointer;
        display: flex;
        line-height: 22px;
        &:hover {
            background-color: #EDF1F2;
        }
        .up-arrow {
            transform: rotate(180deg);
        }
    }
    .welcome {
        display: flex;
    }
    .login-panel {
        position: absolute;
        width: 300px;
        left: calc(50% - 150px);
        top: 100px;
        border: 1px solid #31BD59;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 15px 20px 15px 20px;
        pointer-events: auto;
        user-select: auto;
        visibility: visible;
        z-index: 10;
        box-sizing: border-box;
        .title {
            font-size: 18px;
            text-align: center;
        }
        .inputs {
            margin: 40px 0 0 0;
        }
        .label, .input {
            display: inline-block;
            width: 48%;
            margin: 5px 0;
        }
        .buttons {
            margin: 40px 0 0 0;
            text-align: right;
            button {
                margin: 2px;
                width: 100px;
            }
        }
    }
    .user-info {
        position: absolute;
        top: 40px;
        // right: 210px;
        width: 300px;
        border: 1px solid #31BD59;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 20px 20px 15px 20px;
        pointer-events: auto;
        user-select: auto;
        visibility: visible;
        z-index: 10;
        box-sizing: border-box;
        .basic-info {
            display: flex;
            margin-bottom: 10px;
            .avatar {
                width: 72px;
                height: 72px;
                border-radius: 50%;
                background-color: #F0F7F9;
                border: 1px solid #333C4E;
                &:hover {
                    background-color: #EDF1F2;
                }
            }
            .username {
                padding: 10px 20px;
                display: block;
            }
        }
        .buttons {
            margin-top: 15px;
            text-align: right;
            button {
                border: 0px;
                background-color: #00000000;
                cursor: pointer;
                &:hover {
                    background-color: #EDF1F2;
                }
            }
        }
    }
}
